.container {
    margin: 20px 0 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 35px
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px
}

.info p {
    margin: 0;
}

.photo {
    display: flex;
    justify-content: center;
    align-content: center;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
}
.logIcon {
    cursor: pointer;
} 