.container {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    margin: 0;
    dicsplay: flex;
    height: 80px;
    width: auto;
}

.sidebar {
    width: 240px;
    height: auto;
}