.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h1 {
    margin-left: 30px;
    font-size: 28px;
    font-weight: medium;
    letter-spacing: 2px;
    color: #484b6a;
}
