.container {
    margin: 45px 0 0 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.links {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
}

.link {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    color: #484b6a;
}
